{{template "admin" .}} {{define "page-title"}} Dashboard {{end}} {{define
"content"}}
 <!-- plugins:css -->
 
 <link rel="stylesheet" href="/static/admin/vendors/ti-icons/css/themify-icons.css">
 <link rel="stylesheet" href="/static/admin/vendors/base/vendor.bundle.base.css">
 <!-- endinject -->
 <!-- plugin css for this page -->
 <!-- End plugin css for this page -->
 <!-- inject:css -->
 <!-- <link rel="stylesheet" href="/static/admin/css/style.css"> -->
 <style>
  .container {
  position:absolute;
  margin-top: 50px 10px;
  width: 50px;
  height: 30px;
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10%;
  height: 10%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(243, 29, 29, 0.3);
}

img {
  position: absolute;
  width: 500px;
  height: 280px;
  left: 0px;
}

.title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 5px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(10, 10, 10);
  z-index: 1;
  transition: top .5s ease;
}

.container:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 20px;
  padding: 12px 28px;
  text-align: center;
  color: rgb(2, 2, 2);
  border: solid 2px rgb(7, 7, 7);
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

.container1 {
  position:relative;
  margin-top: 1px;
  margin-left: 540px;
  width: 500px;
  height: 300px;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container1:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0;
}

.title1 {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(15, 15, 15);
  z-index: 1;
  transition: top .5s ease;
}

.container1:hover .title {
  top: 90px;
}

.button1 {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button1 a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: rgb(18, 18, 18);
  border: solid 2px rgb(17, 16, 16);
  z-index: 1;
}

.container1:hover .button1 {
  opacity: 1;
}
/* @media (max-width: 767.98px) {
  .container {
    padding: 6em 0;
  }
}
@media (min-width: 768px) {
  .container .container-fluid {
    padding: 0 4em;
  }
} */

 </style>
 <!-- endinject -->
 <link rel="shortcut icon" href="/static/admin/images/favicon.png" />
 <div class="container">
  <img src="/static/images/analysis.jpeg" alt="" />
  <p class="title">Analysis</p>
  <div class="overlay"></div>
  <div class="button"><a href="/admin/chartload">Enter</a></div>
</div>
<div class="container1">
  <img src="/static/images/growth.jpg" alt="" />
  <p class="title">Reports</p>
  <div class="overlay1"></div>
  <div class="button1"><a href="#">Enter</a></div>
</div>

<script src="/static/admin/js/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/template.js"></script>
<script src="js/todolist.js"></script>
{{end}}
