{{template "base" .}}

{{define "content"}}

<link rel="stylesheet" type="text/css" href="/static/css/card.css">
<div class="container">
    <header>
        <h1 class="mytext"><strong>
            <em><u>Rooms Available : </u></em>
        </strong></h1> 
    </header>
    {{$rooms := index .Data "rooms"}}
            {{ range $rooms}}
   
            <div class="cards-list">
                <a href="/choose-room/{{.ID}}">
                <div class="card 3">
                  <div class="card_image">
                    <img src="/static/images/room_animation.gif" />
                  </div>
                  <div class="card_title">
                    <p>{{.RoomName}}</p>
                  </div>
                </div>
            </a>
                </div>

      </div>
      </article>
    {{end}}
</div>
</body>
{{end}}
