{{template "base" .}}

{{define "content"}}

<link rel="stylesheet" type="text/css" href="/static/css/card.css">
<div class="container">
    <header>
        <h1 class="mytext"><strong>
            <em><u>Rooms Available : </u></em>
        </strong></h1> 
    </header>
    {{$rooms := index .Data "rooms"}}
            {{ range $rooms}}
    <a href="/choose-room/{{.ID}}" class="cover atvImg">{{.RoomName}}
		<div class="atvImg-layer"  > <span class="ref">something</span>
            <!-- <div id="atvImg__0" data-img="/static/images/room1.jpg" alt=""></div> -->
        </div>
	</a>
    {{end}}
</div>
</body>
{{end}}
