
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/themes/vintage.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/maps/world.js"></script>
</head>

<body>



    <style> .container {display: flex;justify-content: center;align-items: center;} .item {margin: auto;} </style> 
<div class="container">
    <div class="item" id="LZofGuELSwqP" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_LZofGuELSwqP = echarts.init(document.getElementById('LZofGuELSwqP'), "white");
    let option_LZofGuELSwqP = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"dataset":{"source":null},"legend":{"show":false,"type":""},"series":[{"name":"pie","type":"pie","smooth":false,"connectNulls":false,"showSymbol":false,"waveAnimation":false,"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"name":"Deluxe king Room","value":15},{"name":"Sunset Suite Room","value":6}],"label":{"show":true,"formatter":"{b}: {c}"}}],"title":{"text":"Reservation Count"},"tooltip":{"show":false}}
;
	let action_LZofGuELSwqP = {"areas":{},"type":""}
;
    goecharts_LZofGuELSwqP.setOption(option_LZofGuELSwqP);
 	goecharts_LZofGuELSwqP.dispatchAction(action_LZofGuELSwqP);
</script>
 
<div class="container">
    <div class="item" id="oxpZrsxhNxgI" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_oxpZrsxhNxgI = echarts.init(document.getElementById('oxpZrsxhNxgI'), "vintage");
    let option_oxpZrsxhNxgI = {"dataset":{"source":null},"legend":{"show":false,"type":""},"series":[{"name":"Category B","type":"bar","smooth":false,"connectNulls":false,"showSymbol":false,"waveAnimation":false,"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"value":6},{"value":8},{"value":2},{"value":2},{"value":1},{"value":1},{"value":1}]}],"title":{"text":"Room Count Month-Wise for Year - 2023"},"tooltip":{"show":false},"xAxis":[{"data":["Jan","Feb","Mar","Apr","May","Jun","Oct"]}],"yAxis":[{}]}
;
	let action_oxpZrsxhNxgI = {"areas":{},"type":""}
;
    goecharts_oxpZrsxhNxgI.setOption(option_oxpZrsxhNxgI);
 	goecharts_oxpZrsxhNxgI.dispatchAction(action_oxpZrsxhNxgI);
</script>
 
<div class="container">
    <div class="item" id="RkEYAtZlGVTQ" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_RkEYAtZlGVTQ = echarts.init(document.getElementById('RkEYAtZlGVTQ'), "white");
    let option_RkEYAtZlGVTQ = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"dataset":{"source":null},"geo":{"map":"world","itemStyle":{"color":"#006666"}},"legend":{"show":false,"type":""},"series":null,"title":{"text":"World Map"},"tooltip":{"show":false,"formatter":function (params) {return params.name + ' : ' + params.value[2];}}}
;
	let action_RkEYAtZlGVTQ = {"areas":{},"type":""}
;
    goecharts_RkEYAtZlGVTQ.setOption(option_RkEYAtZlGVTQ);
 	goecharts_RkEYAtZlGVTQ.dispatchAction(action_RkEYAtZlGVTQ);
</script>




</body>
</html>
