
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/themes/vintage.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/maps/world.js"></script>
</head>

<body>



    <style> .container {display: flex;justify-content: center;align-items: center;} .item {margin: auto;} </style> 
<div class="container">
    <div class="item" id="WXQkEYXbtEux" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_WXQkEYXbtEux = echarts.init(document.getElementById('WXQkEYXbtEux'), "white");
    let option_WXQkEYXbtEux = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"dataset":{"source":null},"legend":{"show":false,"type":""},"series":[{"name":"pie","type":"pie","smooth":false,"connectNulls":false,"showSymbol":false,"waveAnimation":false,"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"name":"Deluxe king Room","value":12},{"name":"Sunset Suite Room","value":7}],"label":{"show":true,"formatter":"{b}: {c}"}}],"title":{"text":"Reservation Count"},"tooltip":{"show":false}}
;
	let action_WXQkEYXbtEux = {"areas":{},"type":""}
;
    goecharts_WXQkEYXbtEux.setOption(option_WXQkEYXbtEux);
 	goecharts_WXQkEYXbtEux.dispatchAction(action_WXQkEYXbtEux);
</script>
 
<div class="container">
    <div class="item" id="cVQMMWpTDPyI" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_cVQMMWpTDPyI = echarts.init(document.getElementById('cVQMMWpTDPyI'), "vintage");
    let option_cVQMMWpTDPyI = {"dataset":{"source":null},"legend":{"show":false,"type":""},"series":[{"name":"Category B","type":"bar","smooth":false,"connectNulls":false,"showSymbol":false,"waveAnimation":false,"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"value":7},{"value":8},{"value":2},{"value":1},{"value":1}]}],"title":{"text":"Room Count Month-Wise for Year - 2023"},"tooltip":{"show":false},"xAxis":[{"data":["Jan","Feb","Mar","Apr","Jun"]}],"yAxis":[{}]}
;
	let action_cVQMMWpTDPyI = {"areas":{},"type":""}
;
    goecharts_cVQMMWpTDPyI.setOption(option_cVQMMWpTDPyI);
 	goecharts_cVQMMWpTDPyI.dispatchAction(action_cVQMMWpTDPyI);
</script>
 
<div class="container">
    <div class="item" id="tTuXWlyCGxqo" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_tTuXWlyCGxqo = echarts.init(document.getElementById('tTuXWlyCGxqo'), "white");
    let option_tTuXWlyCGxqo = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"dataset":{"source":null},"geo":{"map":"world","itemStyle":{"color":"#006666"}},"legend":{"show":false,"type":""},"series":null,"title":{"text":"World Map"},"tooltip":{"show":false,"formatter":function (params) {return params.name + ' : ' + params.value[2];}}}
;
	let action_tTuXWlyCGxqo = {"areas":{},"type":""}
;
    goecharts_tTuXWlyCGxqo.setOption(option_tTuXWlyCGxqo);
 	goecharts_tTuXWlyCGxqo.dispatchAction(action_tTuXWlyCGxqo);
</script>




</body>
</html>
