
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Awesome go-echarts</title>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/themes/vintage.js"></script>
    <script src="https://go-echarts.github.io/go-echarts-assets/assets/maps/world.js"></script>
</head>

<body>



    <style> .container {display: flex;justify-content: center;align-items: center;} .item {margin: auto;} </style> 
<div class="container">
    <div class="item" id="hKKfLqTvPyyH" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_hKKfLqTvPyyH = echarts.init(document.getElementById('hKKfLqTvPyyH'), "white");
    let option_hKKfLqTvPyyH = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"dataset":{"source":null},"legend":{"show":false,"type":""},"series":[{"name":"pie","type":"pie","smooth":false,"connectNulls":false,"showSymbol":false,"waveAnimation":false,"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"name":"Deluxe king Room","value":14},{"name":"Sunset Suite Room","value":6}],"label":{"show":true,"formatter":"{b}: {c}"}}],"title":{"text":"Reservation Count"},"tooltip":{"show":false}}
;
	let action_hKKfLqTvPyyH = {"areas":{},"type":""}
;
    goecharts_hKKfLqTvPyyH.setOption(option_hKKfLqTvPyyH);
 	goecharts_hKKfLqTvPyyH.dispatchAction(action_hKKfLqTvPyyH);
</script>
 
<div class="container">
    <div class="item" id="jQooFRpHRLnL" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_jQooFRpHRLnL = echarts.init(document.getElementById('jQooFRpHRLnL'), "vintage");
    let option_jQooFRpHRLnL = {"dataset":{"source":null},"legend":{"show":false,"type":""},"series":[{"name":"Category B","type":"bar","smooth":false,"connectNulls":false,"showSymbol":false,"waveAnimation":false,"renderLabelForZeroData":false,"selectedMode":false,"animation":false,"data":[{"value":6},{"value":8},{"value":2},{"value":1},{"value":1},{"value":1},{"value":1}]}],"title":{"text":"Room Count Month-Wise for Year - 2023"},"tooltip":{"show":false},"xAxis":[{"data":["Jan","Feb","Mar","Apr","May","Jun","Oct"]}],"yAxis":[{}]}
;
	let action_jQooFRpHRLnL = {"areas":{},"type":""}
;
    goecharts_jQooFRpHRLnL.setOption(option_jQooFRpHRLnL);
 	goecharts_jQooFRpHRLnL.dispatchAction(action_jQooFRpHRLnL);
</script>
 
<div class="container">
    <div class="item" id="MukHwJQbnEIw" style="width:900px;height:500px;"></div>
</div>

<script type="text/javascript">
    "use strict";
    let goecharts_MukHwJQbnEIw = echarts.init(document.getElementById('MukHwJQbnEIw'), "white");
    let option_MukHwJQbnEIw = {"color":["#5470c6","#91cc75","#fac858","#ee6666","#73c0de","#3ba272","#fc8452","#9a60b4","#ea7ccc"],"dataset":{"source":null},"geo":{"map":"world","itemStyle":{"color":"#006666"}},"legend":{"show":false,"type":""},"series":null,"title":{"text":"World Map"},"tooltip":{"show":false,"formatter":function (params) {return params.name + ' : ' + params.value[2];}}}
;
	let action_MukHwJQbnEIw = {"areas":{},"type":""}
;
    goecharts_MukHwJQbnEIw.setOption(option_MukHwJQbnEIw);
 	goecharts_MukHwJQbnEIw.dispatchAction(action_MukHwJQbnEIw);
</script>




</body>
</html>
